h1{
  text-align:center;
  font-family: sans-serif;
}


.container{
  background-color:orange;
  box-sizing: content-box;
}
h2,h3,h4{
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
}
#About{
  background-color: green;
}
